In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import yfinance as yf

In [20]:
def get_brand_name ():

    url = 'https://www.lyst.com/the-lyst-index/the-lyst-index-q2-25/'
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    grid = soup.find('div', attrs = {'class':'chart-update'})
    brand_elements = grid.find_all('div', attrs = {'class':'mono-type padding-left'})

    brand_names = []
    
    for elements in brand_elements:
          clean_brand_name = elements.get_text()
          brand_names.append(clean_brand_name)

    return brand_names

In [21]:
get_brand_name()

['MIU MIU',
 'LOEWE',
 'SAINT LAURENT',
 'PRADA',
 'COACH',
 'THE ROW',
 'COS',
 'CHLOÉ',
 'Bottega Veneta',
 'Moncler',
 'Ralph Lauren',
 'ALAÏA',
 'Balenciaga',
 'JACQUEMUS',
 'SKIMS',
 'Versace',
 'BURBERRY',
 'GUCCI',
 'Birkenstock',
 'VALENTINO']

In [22]:
company_names = pd.read_csv('fashion_brands_parent_companies.csv')
company_names = pd.DataFrame(company_names)
company_names

,Brand,ParentCompany,Ticker,SourceURL
0,MIU MIU,Prada Group,PRDSF,https://www.pradagroup.com/en/brands/miu-miu.html
1,LOEWE,LVMH,MC.PA,https://www.lvmh.com/en/our-maisons/fashion-le...
2,SAINT LAURENT,Kering,KER.PA,https://www.kering.com/en/houses/couture-and-l...
3,PRADA,Prada Group,PRDSF,https://www.pradagroup.com/en/brands/prada.html
4,COACH,Tapestry Inc.,TPR,https://www.tapestry.com/our-brands/coach/
5,THE ROW,Private (Dualstar / Olsen twins),NaN,https://therow.com/pages/about
6,COS,H&M Group,OM:HM B,https://hmgroup.com/brands/cos/
7,CHLOÉ,Richemont,CFR.SW,https://www.richemont.com/en/maison/chloe/
8,Bottega Veneta,Kering,KER.PA,https://www.kering.com/en/houses/couture-and-l...
9,Moncler,Moncler S.p.A.,MOV.F,https://www.monclergroup.com/en/brands/moncler
10,Ralph Lauren,Ralph Lauren Corporation,RL,https://corporate.ralphlauren.com/
11,ALAÏA,Richemont,CFR.SW,https://www.richemont.com/en/maison/alaia/
12,Balenciaga,Kering,KER.PA,https://www.kering.com/en/houses/couture-and-l...
13,JACQUEMUS,Private (Simon Porte Jacquemus),NaN,https://www.jacquemus.com/
14,SKIMS,Private (Kim Kardashian & Investors),NaN,https://www.skims.com/pages/about-skims
15,Versace,Capri Holdings Limited,CPRI,https://www.capriholdings.com/versace/
16,BURBERRY,Burberry Group plc,BBRYF,https://www.burberryplc.com/en/brands.html
17,GUCCI,Kering,KER.PA,https://www.kering.com/en/houses/couture-and-l...
18,Birkenstock,L Catterton / Financière Agache,NaN,https://www.birkenstock-group.com/en/company/
19,VALENTINO,Mayhoola for Investments,NaN,https://www.valentino.com/en-int/about-valentino/

In [23]:
company_names_2 = company_names.drop('SourceURL', axis=1)
company_names_2

             Brand                         ParentCompany   Ticker
0          MIU MIU                           Prada Group    PRDSF
1            LOEWE                                  LVMH    MC.PA
2    SAINT LAURENT                                Kering   KER.PA
3            PRADA                           Prada Group    PRDSF
4            COACH                         Tapestry Inc.      TPR
5          THE ROW      Private (Dualstar / Olsen twins)      NaN
6              COS                             H&M Group  OM:HM B
7            CHLOÉ                             Richemont   CFR.SW
8   Bottega Veneta                                Kering   KER.PA
9          Moncler                        Moncler S.p.A.    MOV.F
10    Ralph Lauren              Ralph Lauren Corporation       RL
11           ALAÏA                             Richemont   CFR.SW
12      Balenciaga                                Kering   KER.PA
13       JACQUEMUS       Private (Simon Porte Jacquemus)      NaN
14           SKIMS  Private (Kim Kardashian & Investors)      NaN
15         Versace                Capri Holdings Limited     CPRI
16        BURBERRY                    Burberry Group plc    BBRYF
17           GUCCI                                Kering   KER.PA
18     Birkenstock       L Catterton / Financière Agache      NaN
19       VALENTINO              Mayhoola for Investments      NaN

In [24]:
grouped = company_names_2.groupby(['ParentCompany', 'Ticker','Brand']).count().reset_index()
grouped

               ParentCompany   Ticker           Brand
0         Burberry Group plc    BBRYF        BURBERRY
1     Capri Holdings Limited     CPRI         Versace
2                  H&M Group  OM:HM B             COS
3                     Kering   KER.PA      Balenciaga
4                     Kering   KER.PA  Bottega Veneta
5                     Kering   KER.PA           GUCCI
6                     Kering   KER.PA   SAINT LAURENT
7                       LVMH    MC.PA           LOEWE
8             Moncler S.p.A.    MOV.F         Moncler
9                Prada Group    PRDSF         MIU MIU
10               Prada Group    PRDSF           PRADA
11  Ralph Lauren Corporation       RL    Ralph Lauren
12                 Richemont   CFR.SW           ALAÏA
13                 Richemont   CFR.SW           CHLOÉ
14             Tapestry Inc.      TPR           COACH

In [25]:
grouped = grouped.groupby(['ParentCompany', 'Ticker'])['Brand'].apply(', '.join).reset_index()
grouped

,ParentCompany,Ticker,Brand
0,Burberry Group plc,BBRYF,BURBERRY
1,Capri Holdings Limited,CPRI,Versace
2,H&M Group,OM:HM B,COS
3,Kering,KER.PA,"Balenciaga, Bottega Veneta, GUCCI, SAINT LAURENT"
4,LVMH,MC.PA,LOEWE
5,Moncler S.p.A.,MOV.F,Moncler
6,Prada Group,PRDSF,"MIU MIU, PRADA"
7,Ralph Lauren Corporation,RL,Ralph Lauren
8,Richemont,CFR.SW,"ALAÏA, CHLOÉ"
9,Tapestry Inc.,TPR,COACH

In [26]:
# Extract tickers
tickers = grouped['Ticker'].unique()

# Prepare storage for data
all_data = []

# Loop through tickers and fetch data
for ticker in tickers:
    try:
        # Fetch historical data
        ticker_data = yf.Ticker(ticker).history(period='5y')
        ticker_data['Ticker'] = ticker  # Add a column with the ticker
        
        # Append the data to the list
        all_data.append(ticker_data)
        print(f"Data for {ticker} retrieved successfully.")

    except Exception as e:
        print(f"Failed to retrieve data for {ticker}: {e}")

# Concatenate all data into a single DataFrame
if all_data:
    big_data = pd.concat(all_data)
    big_data.reset_index(inplace=True)  # Reset index to have a flat structure
    print(big_data.head())
else:
    big_data = pd.DataFrame()  # Return empty DataFrame if no data

Data for BBRYF retrieved successfully.
Data for CPRI retrieved successfully.

HTTP Error 404: {"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"Quote not found for symbol: OM:HM B"}}}
$OM:HM B: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")

Data for OM:HM B retrieved successfully.
Data for KER.PA retrieved successfully.
Data for MC.PA retrieved successfully.
Data for MOV.F retrieved successfully.
Data for PRDSF retrieved successfully.
Data for RL retrieved successfully.
Data for CFR.SW retrieved successfully.
Data for TPR retrieved successfully.
                        Date       Open       High        Low      Close  \
0  2020-10-23 00:00:00-04:00  17.328339  17.328339  17.328339  17.328339
1  2020-10-26 00:00:00-04:00  17.328339  17.328339  17.328339  17.328339
2  2020-10-27 00:00:00-04:00  15.979900  15.979900  15.944875  15.944875
3  2020-10-28 00:00:00-04:00  15.944875  15.944875  15.944875  15.944875
4  2020-10-29 00:00:00-04:00  15.410751  15.410751  15.410751  15.410751

   Volume  Dividends  Stock Splits Ticker  Adj Close
0     0.0        0.0           0.0  BBRYF        NaN
1     0.0        0.0           0.0  BBRYF        NaN
2  1000.0        0.0           0.0  BBRYF        NaN
3     0.0        0.0           0.0  BBRYF        NaN
4   400.0        0.0           0.0  BBRYF        NaN

In [27]:
big_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Adj Close
0,2020-10-23 00:00:00-04:00,17.328339,17.328339,17.328339,17.328339,0.0,0.0,0.0,BBRYF,NaN
1,2020-10-26 00:00:00-04:00,17.328339,17.328339,17.328339,17.328339,0.0,0.0,0.0,BBRYF,NaN
2,2020-10-27 00:00:00-04:00,15.979900,15.979900,15.944875,15.944875,1000.0,0.0,0.0,BBRYF,NaN
3,2020-10-28 00:00:00-04:00,15.944875,15.944875,15.944875,15.944875,0.0,0.0,0.0,BBRYF,NaN
4,2020-10-29 00:00:00-04:00,15.410751,15.410751,15.410751,15.410751,400.0,0.0,0.0,BBRYF,NaN
...,...,...,...,...,...,...,...,...,...,...
11372,2025-10-16 00:00:00-04:00,117.430000,118.379997,115.680000,116.510002,1432100.0,0.0,0.0,TPR,NaN
11373,2025-10-17 00:00:00-04:00,115.669998,117.300003,115.099998,116.820000,1908500.0,0.0,0.0,TPR,NaN
11374,2025-10-20 00:00:00-04:00,117.639999,117.750000,115.830002,116.339996,1442300.0,0.0,0.0,TPR,NaN
11375,2025-10-21 00:00:00-04:00,117.870003,117.949997,116.000000,117.139999,2091700.0,0.0,0.0,TPR,NaN
11376,2025-10-22 00:00:00-04:00,117.190002,118.449997,114.190002,115.330002,2461300.0,0.0,0.0,TPR,NaN

In [28]:
big_data = big_data.drop(['Open', 'High', 'Low', 'Volume', 'Dividends',
       'Stock Splits', 'Adj Close'], axis=1)
big_data

                            Date       Close Ticker
0      2020-10-23 00:00:00-04:00   17.328339  BBRYF
1      2020-10-26 00:00:00-04:00   17.328339  BBRYF
2      2020-10-27 00:00:00-04:00   15.944875  BBRYF
3      2020-10-28 00:00:00-04:00   15.944875  BBRYF
4      2020-10-29 00:00:00-04:00   15.410751  BBRYF
...                          ...         ...    ...
11372  2025-10-16 00:00:00-04:00  116.510002    TPR
11373  2025-10-17 00:00:00-04:00  116.820000    TPR
11374  2025-10-20 00:00:00-04:00  116.339996    TPR
11375  2025-10-21 00:00:00-04:00  117.139999    TPR
11376  2025-10-22 00:00:00-04:00  115.330002    TPR

[11377 rows x 3 columns]

In [29]:
big_data.groupby(['Ticker', 'Date']).agg({'Close':['mean']})
big_data

                            Date       Close Ticker
0      2020-10-23 00:00:00-04:00   17.328339  BBRYF
1      2020-10-26 00:00:00-04:00   17.328339  BBRYF
2      2020-10-27 00:00:00-04:00   15.944875  BBRYF
3      2020-10-28 00:00:00-04:00   15.944875  BBRYF
4      2020-10-29 00:00:00-04:00   15.410751  BBRYF
...                          ...         ...    ...
11372  2025-10-16 00:00:00-04:00  116.510002    TPR
11373  2025-10-17 00:00:00-04:00  116.820000    TPR
11374  2025-10-20 00:00:00-04:00  116.339996    TPR
11375  2025-10-21 00:00:00-04:00  117.139999    TPR
11376  2025-10-22 00:00:00-04:00  115.330002    TPR

[11377 rows x 3 columns]

In [30]:
# Ensure the 'Date' column is in datetime format
big_data['Date'] = pd.to_datetime(big_data['Date'], utc=True)

# Extract year and month into new columns 'Year' and 'Month'
big_data['Year'] = big_data['Date'].dt.year
big_data['Month'] = big_data['Date'].dt.month

In [31]:
big_data

                           Date       Close Ticker  Year  Month
0     2020-10-23 04:00:00+00:00   17.328339  BBRYF  2020     10
1     2020-10-26 04:00:00+00:00   17.328339  BBRYF  2020     10
2     2020-10-27 04:00:00+00:00   15.944875  BBRYF  2020     10
3     2020-10-28 04:00:00+00:00   15.944875  BBRYF  2020     10
4     2020-10-29 04:00:00+00:00   15.410751  BBRYF  2020     10
...                         ...         ...    ...   ...    ...
11372 2025-10-16 04:00:00+00:00  116.510002    TPR  2025     10
11373 2025-10-17 04:00:00+00:00  116.820000    TPR  2025     10
11374 2025-10-20 04:00:00+00:00  116.339996    TPR  2025     10
11375 2025-10-21 04:00:00+00:00  117.139999    TPR  2025     10
11376 2025-10-22 04:00:00+00:00  115.330002    TPR  2025     10

[11377 rows x 5 columns]

In [32]:
big_data = big_data.groupby(['Ticker', 'Year', 'Month']).agg({'Close': 'mean'}).reset_index()
big_data

    Ticker  Year  Month       Close
0    BBRYF  2020     10   16.227988
1    BBRYF  2020     11   18.365062
2    BBRYF  2020     12   20.973667
3    BBRYF  2021      1   21.166740
4    BBRYF  2021      2   21.738652
..     ...   ...    ...         ...
544    TPR  2025      6   82.165693
545    TPR  2025      7  100.605992
546    TPR  2025      8  103.773865
547    TPR  2025      9  108.889844
548    TPR  2025     10  115.170000

[549 rows x 4 columns]

In [33]:
big_data1 = big_data.groupby(['Ticker', 'Year']).agg({'Close': 'mean'}).reset_index()
big_data1

    Ticker  Year       Close
0    BBRYF  2020   18.522239
1    BBRYF  2021   23.625127
2    BBRYF  2022   19.801442
3    BBRYF  2023   24.941301
4    BBRYF  2024   12.306374
5    BBRYF  2025   14.249740
6   CFR.SW  2020   61.782243
7   CFR.SW  2021   93.611828
8   CFR.SW  2022  102.267750
9   CFR.SW  2023  123.816986
10  CFR.SW  2024  127.001091
11  CFR.SW  2025  150.457659
12    CPRI  2020   30.884627
13    CPRI  2021   53.689544
14    CPRI  2022   50.994880
15    CPRI  2023   47.261565
16    CPRI  2024   36.388923
17    CPRI  2025   19.711296
18  KER.PA  2020  498.996483
19  KER.PA  2021  584.065073
20  KER.PA  2022  485.576168
21  KER.PA  2023  461.403791
22  KER.PA  2024  294.412664
23  KER.PA  2025  222.850080
24   MC.PA  2020  425.438979
25   MC.PA  2021  584.712735
26   MC.PA  2022  608.937607
27   MC.PA  2023  754.890530
28   MC.PA  2024  687.995647
29   MC.PA  2025  546.525584
30   MOV.F  2020   37.775367
31   MOV.F  2021   51.764888
32   MOV.F  2022   44.885783
33   MOV.F  2023   56.362167
34   MOV.F  2024   55.269556
35   MOV.F  2025   53.336419
36   PRDSF  2020    4.528537
37   PRDSF  2021    5.891375
38   PRDSF  2022    5.141079
39   PRDSF  2023    6.115404
40   PRDSF  2024    6.945327
41   PRDSF  2025    6.510388
42      RL  2020   75.921148
43      RL  2021  108.010939
44      RL  2022   96.299002
45      RL  2023  114.944789
46      RL  2024  177.951909
47      RL  2025  269.227257
48     TPR  2020   23.118703
49     TPR  2021   36.686908
50     TPR  2022   31.520813
51     TPR  2023   35.641360
52     TPR  2024   44.028589
53     TPR  2025   87.931424

In [34]:
pivot_data = big_data1.pivot_table(index='Ticker', columns='Year', values=['Close'])
pivot_data

             Close
Year          2020        2021        2022        2023        2024        2025
Ticker
BBRYF    18.522239   23.625127   19.801442   24.941301   12.306374   14.249740
CFR.SW   61.782243   93.611828  102.267750  123.816986  127.001091  150.457659
CPRI     30.884627   53.689544   50.994880   47.261565   36.388923   19.711296
KER.PA  498.996483  584.065073  485.576168  461.403791  294.412664  222.850080
MC.PA   425.438979  584.712735  608.937607  754.890530  687.995647  546.525584
MOV.F    37.775367   51.764888   44.885783   56.362167   55.269556   53.336419
PRDSF     4.528537    5.891375    5.141079    6.115404    6.945327    6.510388
RL       75.921148  108.010939   96.299002  114.944789  177.951909  269.227257
TPR      23.118703   36.686908   31.520813   35.641360   44.028589   87.931424